@import 'reset'; 

body {
	background: #fafafa;
}

header {
	background: #fafafa;
	border-bottom: 1px solid #ccc;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index:20;
}

a {
	box-sizing: border-box;
	width: 25%;
	display: inline-block;
	margin-left: -3px;
	text-align: center;
	padding: 12px;
}

.fa  {
	color: #111;
	font-size: 25px;
}

.fa-heart-o:hover {
	color: red;
}

.container {
	background: #fafafa;
	padding-top: 50px;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 58px;
	bottom: 0;
	font-family: 'Open Sans', sans-serif;
}

.card {
	background: #fff;
	margin: 0 auto;
	width: 500px;
	height: 1000px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.card-header {
	padding: 15px;
}

.profile-img {
	display: inline-block;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	position: relative;
	top: 5px;
	margin-right: 5px;
}


.profile-info {
	display: inline-block;
}

.name {
	font-size: 14px;
	color: #111;
	font-weight: 700;
}

.location {
	font-size: 12px;
	color: #111;
}

.time {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	float: right;
	display: inline-block;
	position: relative;
	top: 10px;
	right: 5px;
	color: grey;
	font-weight: 700;
}

.content {
	width: 100%;
	height: 670px;
}

.likes {
	font-weight: 700;
}

.card-footer {
	box-sizing: border-box;
	overflow: auto;
}

.footer-content {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding: 10px 15px 0 15px;
}

span {
	font-weight: 600;
}

.fa {
	font-size: 24px;
}
.fa-heart-o {
	display: inline-block;
	width: 10%;
}

.add-comment {
	display: inline-block;
	width: 60%;
}

input {
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	width: 100%;
	padding: 5px;
	font-size: 14px;
}

.fa-ellipsis-h {
	display: inline-block;
	width: 15%;
	color: grey;
	padding: 0 0 0 18px;
}
